<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>eco_galerie</name>
            <displayName><![CDATA[eco_galerie]]></displayName>
            <version><![CDATA[1.1]]></version>
            <description><![CDATA[Module eco_galerie par Mamen Ecomiz]]></description>
            <author><![CDATA[Mamen EcomiZ]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>